<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des clients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .btn-action {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rentals</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">All Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create">new Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/client/index">All client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/client/create">new client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/rentals/index">All Rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/rentals/create">New Rental</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container mt-5">
    <form method="get" th:action="@{index}">
        <input type="text" name="search" th:value="${searchName}">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>HasActiveRental</th>


            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s:${pageclients}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.email}">
            <td th:text="${s.hasActiveRental}">

            <td>
                <a class="btn btn-danger"
                   th:href="@{delete(page=${currentPage}, size=${size}, search=${searchName}, id=${s.id})}"> Delete </a>

                <a class="btn btn-outline-dark"
                   th:href="@{edit(page=${currentPage}, size=${size}, search=${searchName}, id=${s.id})}"> Edit </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item me-2"
                th:each="p:${tabPages}" >
                <a th:text="${p+1}"
                   th:class="${p==currentPage? 'btn btn-primary' : 'btn btn-outline-primary'}"
                   th:href="@{index(page=${p}, size=${size}, search=${searchName})}"></a>
            </li>


        </ul>

    </div>
</div>
</body>
</html>
