<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="menu">
<head>
    <meta charset="UTF-8">
    <title>New Vehicle</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Add New Vehicle</div>
            <form method="post" th:action="@{save}" class="card-body">
                <div class="mb-3">
                    <label for="make" class="form-label">Make</label>
                    <input id="make" type="text" name="make" class="form-control" th:value="${Vehicle.make}">
                </div>
                <div class="mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input id="model" type="text" name="model" class="form-control" th:value="${Vehicle.model}">
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color</label>
                    <input id="color" type="text" name="color" class="form-control" th:value="${Vehicle.color}">
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Year</label>
                    <input id="year" type="text" name="year" class="form-control" th:value="${Vehicle.year}">
                </div>
                <div class="mb-3 form-check">
                    <input id="rented" type="checkbox" name="rented" class="form-check-input" th:checked="${Vehicle.rented}">
                    <label for="rented" class="form-check-label">Rented</label>
                </div>
                <div class="mb-3">
                    <label for="pricePerDay" class="form-label">Price Per Day</label>
                    <input id="pricePerDay" type="text" name="pricePerDay" class="form-control" th:value="${Vehicle.pricePerDay}">
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
