<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="menu">
<head>
    <meta charset="UTF-8">
    <title>New Rental</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Add New Rental</div>
            <form method="post" th:action="@{/rentals/save}" th:object="${rental}">
                <div class="mb-3">
                    <label for="user" class="form-control">User</label>
                    <select id="user" name="user" th:field="*{user.id}">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="vehicle" class="form-control">Vehicle</label>
                    <select id="vehicle" name="vehicle" th:field="*{vehicle.id}">
                        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.make + ' ' + vehicle.model}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="rentalDate" class="form-control">Rental Date</label>
                    <input id="rentalDate" type="text" name="rentalDate" th:value="*{rentalDate}" placeholder="YYYY-MM-DD">
                </div>
                <div class="mb-3">
                    <label for="returnDate" class="form-control">Return Date</label>
                    <input id="returnDate" type="text" name="returnDate" th:value="*{returnDate}" placeholder="YYYY-MM-DD">
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
