<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="menu">
<head>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        select {
            margin: 0.4rem 0;
        }
    </style>
    <meta charset="UTF-8">
    <title>New Rental</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Add New Rental</div>
            <form method="post" th:action="@{/rentals/save}" th:object="${rental}" class="card-body">
                <div class="mb-3">
                    <label for="user" class="form-label">User</label>
                    <select id="user" name="user" th:field="*{user.id}" class="form-select">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="vehicle" class="form-label">Vehicle</label>
                    <select id="vehicle" name="vehicle" th:field="*{vehicle.id}" class="form-select">
                        <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.make + ' ' + vehicle.model}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="rentalDate" class="form-label">Rental Date</label>
                    <input type="date" id="rentalDate" name="rentalDate" required class="form-control" />

                </div>
                <div class="mb-3">
                    <label for="returnDate" class="form-label">Return Date</label>
                    <input type="date" id="returnDate" name="returnDate" required class="form-control" />

                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Get today's date in the format YYYY-MM-DD
    var today = new Date().toISOString().split('T')[0];
    // Set the minimum date for rentalDate as today
    document.getElementById("rentalDate").value = today;

    // Calculate today plus one day
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

    // Set the minimum date for returnDate as today plus one day
    document.getElementById("returnDate").value = tomorrowFormatted;
</script>

</body>
</html>
