<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="menu">
<head>
    <meta charset="UTF-8">
    <title>New Vehicule</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">


</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-header">Add New Vehicule</div>
            <form method="post" th:action="@{save}">
                <div class="mb-3">
                    <label for ="make" class="form-control">Mark</label>
                    <input id ="make" type="text" name="make" th:value="${Vehicle.make}">
                </div>
                <div class="mb-3">
                    <label for ="model" class="form-control">model</label>
                    <input id ="model" type="text" name="model" th:value="${Vehicle.model}">

                </div>
                <div class="mb-3">
                    <label for ="color" class="form-control">Color</label>
                    <input id ="color" type="text" name="color" th:value="${Vehicle.color}">

                </div>
                <div class="mb-3">
                    <label for ="year" class="form-control">Year</label>
                    <input id ="year" type="text" name="year" th:value="${Vehicle.year}">

                </div>

                <button class="btn btn-primary" type="submit">Create</button>

            </form>


        </div>
    </div>
</div>
</body>
</html>