<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <title>Car Rentals</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <style>

        .nav-link {
            padding: 0 10px; /* Adjust the padding value as per your preference */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Rentals</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">All Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/create">New Vehicle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/client/index">All Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/client/create">New Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/rentals/index">All Rentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/rentals/create">New Rental</a>
                </li>
            </ul>
        </div>

    </div>
</nav>



<section layout:fragment="content">  </section>
</body>
</html>